<section id="formSecretaria" class="mx-auto mt-2 mb-0" style="max-width: 400px;">

<ul class="nav nav-tabs justify-content-end" id="tabs" role="tablist">
    {% set first = true %}

    <li class="nav-item" role="presentation">
        <a class="nav-link {% if pesta単a_activa=='caso' %}active{% endif %}"
           href="{{ path('caso_ver', { id: caso.idCaso }) }}">
            <i class="bi bi-person-lines-fill"></i> Caso
        </a>
    </li>

    {% if caj is not empty %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if pesta単a_activa=='caj' %}active{% endif %}"
               href="{{ path('caj_ver', { idCaso: caso.idCaso }) }}">
                <i class="bi bi-file-earmark-text"></i> CAJ
            </a>
        </li>
    {% endif %}

    {% if sdh is not empty %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if pesta単a_activa=='sdh' %}active{% endif %}"
               href="{{ path('app_sdh_show', { idCaso: caso.idCaso }) }}">
                <i class="bi bi-person-badge"></i> SDH
            </a>
        </li>
    {% endif %}

    {% if mpa is not empty %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if pesta単a_activa=='mpa' %}active{% endif %}"
              href="{{ path('app_mpa_show', { idCaso: caso.idCaso }) }}">
                <i class="bi bi-folder2-open"></i> MPA
            </a>
        </li>
    {% endif %}
</ul>
<!-- Icono a la derecha -->
    

</section>
<style>
    .nav-tabs .nav-link.pulse {
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
        transition: box-shadow 0.3s ease;
    }

</style>
<script>
   document.querySelectorAll('.nav-tabs .nav-link').forEach(link => {
        link.addEventListener('click', function () {
            // Mostramos spinner
            const spinner = document.createElement('div');
            spinner.innerHTML = '<div class="spinner-border text-primary" role="status" style="position: fixed; top: 50%; left: 50%; z-index: 9999;"><span class="visually-hidden">Cargando...</span></div>';
            document.body.appendChild(spinner);
        });
    });
</script>