{% extends 'base.html.twig' %}

{% block title %}Edit Mpa{% endblock %}

{% block body %}
    <h1>Edit Mpa</h1>

    {{ include('mpa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mpa_index') }}">back to list</a>

    {{ include('mpa/_delete_form.html.twig') }}
{% endblock %}
