<div class="row familiar-item mb-3 p-3 border rounded">
    <div class="col-md-5">
        {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.referente, {'attr': {'class': 'form-control'}}) }}
    </div>
     <div class="col-md-1">
        <br>
        <button type="button" class="btn btn-danger btn-sm remove-familiar">Eliminar</button>
    </div>
</div>