<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Unico de Informacion sobre muertes violentas de mujeres{% endblock %}</title>
    <link rel="icon" href="https://www.santafe.gob.ar/assets/standard/images/favicon.ico">
  {% block stylesheets %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
    
</head>
<body>

    {# Navbar común a todas las páginas #}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <img src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png" class="navbar-brand" alt="Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Casos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('caso_new') }}">Iniciar Caso</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_caso_index') }}">Listado Casos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Historial Casos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Organismos Colaboradores</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Poder Judicial</a></li>
                        <li><a class="dropdown-item" href="#">SDNAyF</a></li>
                        <li><a class="dropdown-item" href="#">Cámara Federal</a></li>
                        <li><a class="dropdown-item" href="#">Defensoría del Pueblo</a></li>
                        <li><a class="dropdown-item" href="#">Secretaría de Derechos Humanos</a></li>
                        <li><a class="dropdown-item" href="#">Ministerio de Salud</a></li>
                        <li><a class="dropdown-item" href="#">Áreas locales</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">SMGyD</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_mpa_index') }}">MPA</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Ministerio de Justicia y Seguridad</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
    {% endblock %}
</body>
</html>
