{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Registro Único de FEMicidios
{% endblock %}



{% block body %}
    <header></header>

    <section class="intro bg-light py-5">
        <div class="container">
            <h3 class="text-center fw-bold mb-4">Sistema Único e Integrado de Información sobre Ruta Crítica y Muertes Violentas de Mujeres</h3>
              <h2 class="text-center fw-bold mb-4">Registro Unico de Femicidios  - RUFEM </h2>
            <p class="lead text-center">
                El <strong>Registro Unico de Femicidios  - RUFEM - </strong> es una herramienta estratégica impulsada por la <strong>Secretaría de Mujeres, Género y Diversidad</strong> que permitirá no solo contar con estadísticas y datos actualizados en tiempo real, sino también fomentar la articulación entre instituciones para una respuesta estatal más eficaz.
                La compatibilidad con sistemas existentes y la colaboración en la definición de los datos a cargar aseguran que este sistema responderá a las necesidades específicas de cada organismo, promoviendo así una intervención más coordinada y precisa en situaciones de <strong>violencia de género</strong>.
            </p>
        </div>
    </section>
{% endblock %}


